@keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@keyframes slideUp2 {
    0% {
        opacity: 0;
        -webkit-transform: translateY(49%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
.slideitUp{
    animation-name: slideUp ;
    animation-duration: 1s ;
}
.slideitUp2{
    animation-name: slideUp2 ;
    animation-duration: 1s ;
}