

//variables 

$clr-white : #fff ;
$clr-red : #ed145b ;
$clr-green :#30c9bc ;
$clr-lightgray  : #464646 ;
$clr-gray : #363636 ;
$clr-black : #252525 ;

$clr-social : #676767  ;
$clr-socialhover : #565353  ;

$siz-laptop : 960px ;
$siz-phone : 480px ;


/* =============================================================================
   Base styling
   ========================================================================== */

@import 'base' ;

/* =============================================================================
   Hero styling
   ========================================================================== */
@import 'hero' ;
/* =============================================================================
   services styling
   ========================================================================== */
@import 'services';

/* =============================================================================
   benifets styling
   ========================================================================== */
@import 'benifet' ;
/* =============================================================================
   skills styling
   ========================================================================== */
@import 'skills' ;
/* =============================================================================
   contact styling
   ========================================================================== */
   @import 'contact' ;
/* =============================================================================
   footer styling
   ========================================================================== */
.main-footer{
    background-color: $clr-black ;
    color: gray ;
    font-size: .7rem ;
    letter-spacing: 1px ;
}
/* =============================================================================
   animation styling
   ========================================================================== */
   @import 'animation' ;

/**scroolbar***/
body::-webkit-scrollbar              { width: 0.5em ; padding: 1px ; /* 1 */ }
body::-webkit-scrollbar-track        { background-color: #F3F3F3  }
body::-webkit-scrollbar-thumb        { background-color: #99c2ff ;  }
body::-webkit-scrollbar-thumb:hover        { background-color: #2196F3 ;  }


@import 'responsive' ;